@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
}

table td,
table th,
table tfoot {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th,
tfoot {
  padding: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}
